# registry=https://registry.npmjs.org/:_authToken=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;
# strict-ssl=false
# always-auth=true
# email=1871762390@qq.com

registry=https://registry.npmjs.org/
strict-ssl=false
_auth=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
always-auth=true
email=1871762390@qq.com
